body {
    background-color:#3c4045;
    font-family:'Open Sans', sans-serif;
    color:#FFFFFF;
}

.title {
    font-size:11px;
}

.widgetTitle {
    font-size:13px;
    margin-left:8px;
    margin-top:5px;
}

#overlay {
    opacity:0.98;
    background:#000000;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
}

.container {
    width:610px;
    height:901px;
    display:inline-block;
    margin-left:20px;
}

#container {
    text-align:center;
}

.containerSection {
    width:100%;
}

#containerLeftSectionTop {
    height:490px;
}

#containerLeftSectionBottom {
    height:411px;
}

#containerMiddleSectionTop {
    margin-top:30px;
    height:218px;
}

#containerMiddleSectionMiddle {
    margin-top:68px;
    height:328px;
}

#containerMiddleSectionBottom {
    margin-top:68px;
    height:157px;
}

#containerRightSectionTop {
    margin-top:30px;
    height:130px;
}

#containerRightSectionMiddle {
    margin-top:68px;
    height:374px;
}

#containerRightSectionBottom {
    margin-top:68px;
    height:199px;
}

.piArticle {
    float:left;
    background-color:#2d92a5;
    position:relative;
    width:127px;
    height:105px;
    margin-top:17px;
    margin-right:22px;
    text-align:center;
}

.piArticle:first-child {
    width:574px;
    height:307px;
    margin-top:30px;
    margin-right:0;
}

.piContentArticle {
    width:auto;
    height:40px;
    margin:0 auto 0 auto;
}

#piWidgetTitleArticle {
    width:100%;
    height:25px;
}

#piContentArticle0 {
    width:500px;
    height:240px;
}

#piContentArticle0 svg {
    margin-top:11px;
    margin-left:-10px;
}

#piWidgetTitleArticle {
    text-align:left;
}

.piContent {
    font-size:28px;
}

.piContent p {
    display:block;
}

.piContent span {
    margin-top:2px;
    display:block;
    font-family:'Open Sans', sans-serif;
    font-size:10px;
    text-transform:uppercase;
}

.titleArticle {
    text-align:left;
    height:20px;
    width:100%;
    position:absolute;
    bottom:0;
}

.titleArticle p {
    margin-left:8px;
}

#containerOverlay {
    position:fixed;
    left:50%;
    top:45%;
}

#phArticle {
    width:425px;
    height:425px;
    margin:-212px 0 0 -212px;
}

.phArticle {
    float:left;
    background-color:#2d92a5;
    position:relative;
    width:127px;
    height:103px;
    margin-top:17px;
    margin-right:22px;
    text-align:center;
}

.phArticle:first-child {
    width:100%;
    height:305px;
    margin:0;
}

.phArticle:last-child {
    margin:17px 0 0 0;
}

#phArticle1 {
    clear:both;
}

.phContentArticle {
    width:100px;
    height:60px;
    margin:15px auto 0 auto;
}

#phContentArticle0 {
    width:340px;
    height:180px;
}

.phContent {
    margin-top:6px;
}

#phContent3 {
    margin-top:11px;
}

tspan {
    color:#FFFFFF;
}

.highcharts-tooltip rect {
    fill: #efefef;
}

#message {
    font-size:15px;
}

#messageSection {
    height:100%;
    width:573px;
    background-color:#a64c40;
}

.messageArticle {
    height:100%;
    position:relative;
    float:left;
}

#messageArticleLeft {
    width:120px;
    text-align: center;
}

#messageArticleLeftQuote {
    width:36px;
}

#messageArticle {
    width:364px;
}

#message {
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    line-height:23px;
}

#messageText {
    height:auto;
    width:100%;
    position:relative;
    top:50%;
}

#messageArticleRight {
    width:53px;
}

.messageArticleSplitted {
    width:100%;
}

#messageArticlePhoto {
    height:113px;
    position: relative;
}

#messageArticlePhoto img {
    width:85px;
    height:85px;
    border:3px solid #fefefe;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    position: absolute;
    bottom:0;
    left:0;
    margin-left:16px;
}

#messageArticleEmployee {
    height:43px;
    font-size:13px;
    margin-top:10px;
}

#messageArticleTrash {
    height:116px;
}

#messageTrashBin {
    height:27px;
    width:25px;
    margin:6px 0 0 7px;
    visibility:hidden;
}

#messageTrashBin:hover {
    cursor:pointer;
}

#messageArticleRightQuote {
    height:40px;
}

.messageQuote {
    width:28px;
    height:25px;
    opacity:0.3;
}

#messageArticleLeftQuote {
    margin-top:10px;
}

#messageOverlay {
    background-color:#a64c40;
    width:612px;
    height:432px;
    margin:-216px 0 0 -320px;
}

#messageOverlay select {
    font-family:'Open Sans', sans-serif;
    font-size:11px;
    color:#393939;
    border:0;
    margin:5px 8px 0 0;
    padding:7px 4px 7px 4px;

}

#messageOverlay textarea {
    margin-top:5px;
    padding-top:5px;
    padding-left:5px;
    font-family:'Open Sans', sans-serif;
    color:#393939;
    border:0;
    resize:none;
}

#messageOverlay button {
    height:37px;
    width:115px;
    font-family:'Open Sans', sans-serif;
    color:#393939;
    background-color:#FFFFFF;
    opacity:0.6;
    border:0;
    float:right;
}

#messageOverlay button:hover {
    background-color: #dddddd;
    opacity:0.6;
    cursor:pointer;
}

#messageOverlay select,textarea:focus {
    outline:none !important;
}

.messagePostArticle {
    padding-left:32px;
    width:auto;
    display:block;
}

#messagePostTitleArticle {
    font-size:15px;
    padding-top:35px;
}

#messagePostSelectNameArticle {
    padding-top:20px;
    margin-left:-1px;
}

#messagePostSelectNameArticle p {
    margin-left:2px;
}

#messagePostSelectDateArticle {
    padding-top:20px;
}

#messagePostCreateMessageArticle {
    padding-top:20px;
}

#messagePostButtonArticle {
    padding-top:20px;
    padding-right:31px;
}

.messagePostFieldTitle {
    font-size:12px;
}

.selectDateClass {
    width:50%;
    display:inline-block;
}

#createMessage {
    width:94%;
    height:108px;
}

#datetimeSection {
    height:100%;
    width:574px;
    font-size:12px;
}

#dateArticle {
    width:274px;
}

#timeArticle {
    width:274px;
    margin-left:26px;
}

.datetimeArticle {
    background-color:#cfced0;
    height:130px;
    float:left;
    color:#404040;
}

.dateText {
    display:inline-block;
}

#dateDayNumberText {
    margin:32px 20px 0 20px;
    font-size:60px;
    font-family:"Open Sans Light", sans-serif;
}

#timeText {
    margin:33px 0 0 0;
    font-size:60px;
    font-family:"Open Sans Light", sans-serif;
}

#mantisStatsSection {
    height:328px;
    width:573px;
    position:absolute;
    font-size:12px;
    background-color:#6b727c;
    text-align:left;
}

#contentMantisStatsArticle {
    height:290px;
    width:573px;
}

#titleMantisStatsArticle {
    height:20px;
    width:573px;
}

#titleMantisStats {
    margin-left:8px;
}

#mantisStatsChart {
    width:510px;
    height:280px;
}

#mantisStatsChart .highcharts-container {
    overflow:visible !important;
}

#mantisStatsChart .highcharts-grid {
    opacity:0.6;
}

#contentMantisStatsArticle svg {
    margin:5px 0 0 26px;
}

#newsSection {
    height:100%;
    width:572px;
}

.newsArticle {
    margin-top:18px;
    height:79px;
    width:572px;
    background-color:#2d2c2c;
}

.newsArticle:first-child {
    margin-top:0;
}

.newsArticle:hover {
    cursor:pointer;
}

.articleInNewsArticle {
    float:left;
    height:100%;
}

.newsContentArticle {
    width:494px;
}

.newsPhotoArticle {
    width:78px;
    background-color: #f9f9f9;
}

.newsContentArticleTitle {
    height:18px;
    width:100%;
    text-align:left;
    margin-left:8px;
}

.newsContentArticleContent {
    height:61px;
    width:100%;
}

.newsContent {
    font-size:14px;
    font-family:"Open Sans Light", sans-serif;
    line-height:75px;
}

.newsPhoto {
    width:100%;
    height:100%;
    opacity:0.9;
}

#trainSection {
    height:100%;
    width:573px;
    background-color:#cfb343;
}

#agendaSection {
    height:100%;
    width:573px;
    background-color:#8ba863;
}

#agendaArticleTop {
    width:100%;
    height:62px;
    padding-top:25px;
}

#agendaArticleBottom {
    width:100%;
    height:77px;
    margin-top:10px;
    text-align:left;
}

.agendaArticleBottom {
    float:left;
}

#agendaDateArticle {
    width:77px;
    height:77px;
    margin-left:45px;
}

#agendaItemArticle {
    width:372px;
    height:48px;
    margin-left:69px;
    overflow:hidden;
}

#timeLineHr {
    height:2px;
    width:573px;
    border:0;
    background-color:#FFFFFF;
    position:absolute;
}

#monthVr {
    height:12px;
    width:2px;
    background-color:#FFFFFF;
    position:absolute;
    margin-top:-2px;
    border:0;
    opacity:0.7;
}

.agendaDot {
    float:left;
    height:12px;
    width:12px;
    border:2px solid #FFFFFF;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    margin-left:20.9px;
    position:relative;
}

.agendaDotEmpty {
    background-color:#8ba863;
}

.agendaDotEvent {
    background-color:#FFFFFF;
}

.agendaDotFocus {
    box-shadow: 0 0 0 1px #8ba863,
                0 0 0 3px #FFFFFF,
                0 0 0 4px #8ba863,
                0 0 0 6px #FFFFFF;
}

.agendaDotText {
    font-size:10px;
    position:relative;
    float:left;
    margin:2px 0 0 23px;
    width:14px;
    line-height:14px;
}

.agendaDotText:nth-of-type(1) {
    margin:2px 0 0 20px;
}

#agendaDotMonth {
    font-size:12px;
    position:absolute;
    margin-top:-16px;
    width:14px;
    opacity:0.7;
}

#agendaDateArticleDate {
    font-size:70px;
    font-family:"Open Sans Light", sans-serif;
    text-align:center;
}

#agendaDateArticleMonth {
    text-align:center;
    font-size:12px;
    width:100%;
    margin-top:4px;
}

#agendaItemArticle {
    font-size:13px;
    margin-top:11px;
}

#agendaItemArticleContent {
    font-size:18px;
    margin-top:14px;
}